/* 共通設定 */
* {
    font-family: 'Segoe UI', 'Helvetica', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'BIZ UDPGothic', 'Meiryo UI';
}

/* トップページ */

.tabs .tab a {
    color: rgba(38, 166, 154, 0.8);
    /*Custom Text Color*/
}

.tabs .tab a:hover {
    color: #26a69a;
    /*Custom Color On Hover*/
}

.tabs .tab a.active {
    background-color: rgba(38, 166, 154, 0.7);
    color: #000;
}

.tabs .tab a:focus.active {
    color: #26a69a;
    /*Custom Text Color While Active*/
    background-color: rgba(38, 166, 154, 0.1);
    /*Custom Background Color While Active*/
}

.tabs .tab a.active {
    color: #26a69a;
    /*Custom Text Color While Active*/
    background-color: rgba(38, 166, 154, 0.2);
    /*Custom Background Color While Active*/
}

.tabs .indicator {
    background-color: #26a69a;
    /*Custom Color Of Indicator*/
}

/* ヘッダー画像 */
.card-image img {
    height: 250px;
    object-fit: cover;
}

.card-image .card-title {
    width: 100%;
    background: rgba(0,0,0,0.75)
}

.center-align .valign-wrapper {
    justify-content: center;
}

span.card-title {
    font-weight: 450 !important;
}

/* 投稿スタイル */

p {
    margin-bottom: 1ex !important;
    font-size: 120%;
}

p:has(a):has(img) {
    max-height: 300px;
    object-fit: cover;
    text-align: center;
}

.amazon-box {
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

.card-content h1 {
    font-size: 2rem !important;
    padding-left: 1ex;
    padding-bottom: 0.25ex;
    border-left: solid teal 8px;
    border-bottom: solid teal 2px;
    margin: 1rem 0;
}

.card-content h2 {
    font-size: 1.75rem !important;
    border-bottom: solid teal 2px;
    margin: 1rem 0;
}

.card-content h3 {
    font-size: 1.5rem !important;
    margin: 1rem 0;
}

.card-content ul:first-child {
    border: 1px solid #555555;
    padding: 1em !important;
    padding-left: 3em !important;
    padding-right: 3em !important;
    margin: 0 auto;
    margin-bottom: 1em;
}

.card-content ul:first-child::before {
    content: "目次";
    font-size: 150%;
    font-weight: 500;
}

.card-action a {
    width: 55px;
}

li>ul {
    margin-left: 1.5em;
}

@media only screen and (min-width: 1200px){
    a>img {
        max-width: 50%;
        max-height: 400px;
    }
}