---
layout: default
---

<div class="row">
	<div class="col s12">
		<div class="card">
			<div class="card-image">
				<img src="/images/{{ page.image }}">
				<span class="card-title">{{ page.title }}</span>
			</div>
			<div class="card-content">
				{{ content }}
			</div>
			<div class="card-action center-align">
				<a class="waves-effect btn blue darken-1"
					href="//twitter.com/share?url={{ page.absolute_url }}&text={{ page.title }} - {{ site.title }}&related=advanced_bear"
					target="_blank"><i class="fa fa-twitter"></i></a>
				<a class="waves-effect btn indigo" href="//www.facebook.com/share.php?u={{ page.absolute_url }}"
					target="_blank"><i class="fa fa-facebook"></i></a>
				<a class="waves-effect btn light-green accent-4"
					href="//social-plugins.line.me/lineit/share?url={{ page.absolute_url }}" target="_blank"><i
						class="fa fa-comment"></i></a>
				<a class="waves-effect btn light-blue" href="//b.hatena.ne.jp/add?url={{ page.absolute_url }}"
					target="_blank"><i class="fa fa-bold"></i></a>
			</div>
		</div>
	</div>
</div>